{layout ../@layout.latte}
{block title}Game{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Game:add}">Add game</a>
        </li>
        <li>
            <a href="{plink Game:rate}">Add rating</a>
        </li>
        <li>
            <a href="{plink Game:list}">List of games</a>
        </li>
    </ul>
</section>
<section>
    <h2>Recently added</h2>
    {control gameSmallList 'new'}
</section>
<section>
    <h2>Top rated</h2>
    {control gameSmallList 'top'}
</section>
<section>
    <h2>To rate</h2>
    {control gameSmallList 'notRated'}
</section>
