{layout ../@layout.latte}
{block title}Game List{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Game:add}">Add movie</a>
        </li>
        <li>
            <a href="{plink Game:rate}">Add rating</a>
        </li>
    </ul>
</section>
<section>
    {control gameList}
</section>