{define col-name}
    <td>
        <a href="{plink Person:view $row->id}">{$row->id|person}</a>
    </td>
{/define}

{define col-country_id}
    <td>
        {$row->ref('country', 'country_id')->name}
    </td>
{/define}

{define col-movie_count}
    <td>
        {$row->related('movie2director.person_id')->count()}
    </td>
{/define}

{define col-top_movie}
    <td>
        {var topMovie => $movieModel->getTopMovie($row->id)}
        {if $topMovie}
            <a href="{plink Movie:view $topMovie->id}">{$topMovie->original_title}</a>
        {/if}
    </td>
{/define}

{define col-average_rating}
    <td>
        {$movieModel->getAverageRating($row->id)|number:2}
    </td>
{/define}