$black: #000000;
$white: #FFFFFF;
$grey: #CACACA;
$red: #CC1D24;
$lightRed: #f9d2d4;

$failure: #e29c9c;
$failure-border: #CC2222;
$success: #9ce99c;
$success-border: #22CC22;
$info: #9c9ce9;
$info-border: #2222CC;
