#search
{
  width: auto;
  padding: 5px 8px;
  border: 0;
}

input[type=number], input[type=text], textarea, input[type=password], input[type=date], input[type=search]
{
  border: 1px solid $grey;
  border-radius: 3px;
  outline: none;
  width: 47%;

  &:focus
  {
    outline: 2px solid $red;
  }
}

textarea, input
{
  padding: 8px 10px;
}

textarea
{
  height: 100px;
  resize: vertical;
}

form
{
  label.required:after, tr.required > th > label:after
  {
    content: " *";
  }

  table
  {
    width: 100%;
    table-layout: fixed;

    tr
    {
      th
      {
        text-align: left;
      }

      td
      {
        padding: 5px;

        &:nth-child(1)
        {
          width: 25%;
        }

        &:nth-child(2)
        {
          width: 75%;
        }

        span.form-flash
        {
          padding: 10px;
          margin: 15px;
          border-radius: 10px;
        }

        span.form-error
        {
          @extend .form-flash;

          background-color: $failure;
          border: 2px solid $failure-border
        }

        span.form-success
        {
          @extend .form-flash;

          background-color: $success;
          border: 2px solid $success-border
        }

        span.error
        {
          display: none;
        }
      }
    }
  }
}

#artist_subform
{
  display: none;
}

#rating
{
  float: left;

  &:not(:checked) > input
  {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
  }

  &:not(:checked) > label
  {
    visibility: hidden;
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color: $grey;
  }

  &:not(:checked) > label:before
  {
    visibility: visible;
    content: '★ ';
  }

  input:checked ~ label
  {
    color: $red;
  }

  &:not(:checked) > label:hover,
  &:not(:checked) > label:hover ~ label,
  input:checked + label:hover,
  input:checked + label:hover ~ label,
  input:checked ~ label:hover,
  input:checked ~ label:hover ~ label,
  label:hover ~ input:checked ~ label
  {
    color: $black;
  }

  label:active
  {
    position:relative;
    top:2px;
    left:2px;
  }
}
