.table
{
  width: 100%;
  border-collapse: collapse;

  td, th
  {
    padding: 10px 5px;
    text-align: left;
  }

  td.center, th.center
  {
    text-align: center;
  }

  &.table-fixed
  {
    table-layout: fixed;
  }
}

.grid
{
  @extend .table;

  td:last-of-type
  {
    padding: 0 5px;
  }

  tbody
  {
    tr:hover
    {
      background-color: $grey;
    }
  }
}

.list
{
  @extend .table;

  table-layout: fixed;
}

.highlight
{
  background-color: $lightRed;
}

.table-list
{
  padding: 0;
  margin: 0;
  list-style: none;
}

.artist-list
{
  @extend .table-list;
}

.action-list
{
  @extend .table-list;

  li
  {
    margin: 5px 0;
  }
}