{if $user->isLoggedIn()}
    <ul>
        <li><a href="{plink Default:default}">{$presenter->locale['dashboard']}</a></li>
        <li class="dropdown">
            <a>{$presenter->locale['categories']}</a>
            <ul class="dropdown-list">
                {foreach \App\Enum\Category::ITEMS as $type}
                    <li><a href="{plink Entity:default type => $type}">{$presenter->locale['entity_pl'][$type]}</a></li>
                {/foreach}
            </ul>
        </li>
        <li class="dropdown">
            <a>{$presenter->locale['people']}</a>
            <ul class="dropdown-list">
                <li><a href="{plink Artist:default}">{$presenter->locale['artist_pl']}</a></li>
                <li><a href="{plink User:default}">{$presenter->locale['user_pl']}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a>{$presenter->locale['other']}</a>
            <ul class="dropdown-list">
                <li><a href="{plink Statistics:default}">{$presenter->locale['stats']}</a></li>
                <li><a href="{plink Credits:default}">{$presenter->locale['credits']}</a></li>
            </ul>
        </li>
        {control search}
    </ul>
{/if}
<ul class="right">
    {if $user->isLoggedIn()}
        <li class="dropdown">
            <a>{$user->identity->username}</a>
            <ul class="dropdown-list">
                <li><a href="{plink User:view $user->id}">{$presenter->locale['profile']}</a></li>
                <li><a href="{plink Default:settings}">{$presenter->locale['settings']}</a></li>
                <li><a href="{plink Default:changePassword}">{$presenter->locale['chng_pswrd']}</a></li>
                <li><a href="{plink Sign:out}">{$presenter->locale['logout']}</a></li>
            </ul>
        </li>
    {/if}
    {control locale}
</ul>
