services:

    - App\Model\CountryModel
    - App\Model\ChangelogModel

    - App\Model\NewsModel
    - App\Model\IntroductionModel

    - App\Model\ArtistModel
    - App\Model\ArtistEntityModel
    - App\Model\GroupMemberModel

    - App\Model\EntityModel
    - App\Model\RatingModel

    - App\Model\StatEntityModel
    - App\Model\StatRatingModel

    - App\Model\ImageModel
    - App\Model\ImageObjectModel
