bower/*
!bower/.htaccess

vendor/*
!vendor/.htaccess

temp/*
!temp/.htaccess

log/*
!log/.htaccess

.idea/*

scss/dist/*
js/dist/*

app/config/local.neon
app/config/database.neon
app/config/recaptcha.neon

*.lock

