www/bower/*
!www/bower/.htaccess

vendor/*
!vendor/.htaccess

temp/*
!temp/.htaccess

log/*
!log/.htaccess

.idea/*

www/scss/*.css
www/js/*.min.js

app/config/local.neon
app/config/database.neon
app/config/recaptcha.neon

*.lock

