{if isset($data->poster_file)}
    <div id="image">
        <img src="{php getcwd().$data->poster_file}"/>
    </div>
{/if}

<h2>{$ratingModel->getRating($data->id)|number: 2}</h2>
{if $pName == 'Series'}
    <h3>Average rating from seasons: {$ratingModel->getRatingFromSeasons($data->id)|number:2}</h3>
{/if}
<h3>Men's rating: {$ratingModel->getMenRating($data->id)|number: 2}</h3>
<h3>Women's rating: {$ratingModel->getWomenRating($data->id)|number: 2}</h3>

{var $rating => $ratingModel->getUserRating($data->id, $user->getId())}
{if $rating}
    <h3>My rating:
        {$rating->rating}
    </h3>
{/if}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink "{$pName}:edit" $data->id}">Edit details</a>
        </li>
        <li>
            {if $rating}
                <a href="{plink "{$pName}:editRating" $rating->id}">Edit rating</a>
            {else}
                <a href="{plink "{$pName}:rate" $data->id}">Rate</a>
            {/if}
        </li>
    </ul>
</section>
<section>
    <table class="list">
        {if isset($data->english_title)}
            <tr>
                <th>English title</th>
                <td>{$data->english_title}</td>
            </tr>
        {/if}
        {if isset($data->czech_title)}
            <tr>
                <th>Czech title</th>
                <td>{$data->czech_title}</td>
            </tr>
        {/if}
        {if isset($data->year)}
            <tr>
                <th>Year</th>
                <td>{$data->year}</td>
            </tr>
        {/if}
        <tr>
            <th>Description</th>
            <td>{$data->description}</td>
        </tr>
        {switch $pName}
            {case 'Book'}
                <tr>
                    <th>Author</th>
                    <td>
                        {include '../../latte/PersonList.latte' people => $data->related('jun_book2author.book_id')}
                    </td>
                </tr>
            {case 'Series'}
            {case 'Movie'}
                <tr>
                    <th>Director</th>
                    <td>
                        {include '../../latte/PersonList.latte' people => $data->related('jun_movie2director.movie_id')}
                    </td>
                </tr>
                <tr>
                    <th>Cast</th>
                    <td>
                        {include '../../latte/PersonList.latte' people => $data->related('jun_movie2actor.movie_id')}
                    </td>
                </tr>
            {case 'Music'}
                <tr>
                    <th>Interpret</th>
                    <td>
                        {include '../../latte/PersonList.latte' people => $data->related('jun_music2interpret.movie_id')}
                    </td>
                </tr>
        {/switch}
    </table>
</section>
