{define col-type}
    <td>
        {$presenter->locale['entity'][$row->type]}
    </td>
{/define}

{define col-role}
    <td>
        {$presenter->locale['role'][$row->role]}
    </td>
{/define}

{define col-year}
    <td class="center">
        {$row->year}
    </td>
{/define}

{define col-head-class-year}
    center
{/define}

{define col-original_title}
    <td>
        <a href="{plink Entity:view $row->entity_id}">{$row->original_title}</a>
    </td>
{/define}

{define col-rating}
    <td class="center">
        {$row->rating}
    </td>
{/define}

{define col-head-class-rating}
    center
{/define}


{define col-my_rating}
    <td class="center">
        {$row->my_rating}
    </td>
{/define}

{define col-head-class-my_rating}
    center
{/define}

{define col-action}
    <td>
        {if $row->my_rating_id}
            <ul class="action-list">
                <li><a href="{plink Entity:editRating $row->my_rating_id}">Edit rating</a></li>
                <li><a href="{plink Entity:removeRating $row->my_rating_id}">Remove rating</a></li>
            </ul>
        {else}
            <a href="{plink Entity:rate $row->id}">Rate</a>
        {/if}
    </td>
{/define}
