{define col-original_title}
    <td><a href="{plink Entity:view $row->id}">{$row->original_title}</a></td>
{/define}

{define col-english_title}
    <td>{$row->english_title}</td>
{/define}

{define col-czech_title}
    <td>{$row->czech_title}</td>
{/define}

{define col-artist}
    {var artists = $row->related("jun_artist2entity.entity_id")->where('role', \App\Enum\TypeToRole::LIST_ROLE[$row->type])}
    <td>{artistList $artists}</td>
{/define}

{define col-year}
    <td>{$row->year}</td>
{/define}

{define col-rating}
    <td>{$row|rating}</td>
{/define}

{define col-my_rating}
    <td>{$row->my_rating}</td>
{/define}

{define col-action}
    <td>
        {if $row->my_rating_id}
            <a class="iframePopup" href="{plink Entity:editRating $row->my_rating_id, control => $control->parent->name}">Edit rating</a>
        {else}
            <a class="iframePopup" href="{plink Entity:rate $row->id, control => $control->parent->name}">Rate</a>
        {/if}
    </td>
{/define}
