<table class="grid">
    <thead>
        <th>Original Title</th>
        {if !in_array($presenter->getName(), array('Music', 'Game'))}
            <th>English Title</th>
            <th>Czech Title</th>
        {/if}
        {if $presenter->getName() != 'Series'}
            <th class="center">Year</th>
        {/if}
        <th class="center">Rating</th>
        <th class="center">My Rating</th>
        <th>Action</th>
    </thead>
    <tbody>
    {foreach $entities as $entity}
        <tr>
            <td><a href="{plink Entity:view $entity->id}">{$entity->original_title}</a></td>
            {if !in_array($presenter->getName(), array('Music', 'Game'))}
                <td>{$entity->english_title}</td>
                <td>{$entity->czech_title}</td>
            {/if}
            {if $presenter->getName() != 'Series'}
                <td class="center">{$entity->year}</td>
            {/if}
            <td class="center">{$entity->rating|number:2}</td>
            {var $rating => $ratingModel->getUserRating($entity->id, $user->getId())}
            <td class="center">
                {if $rating}
                    {$rating->value}
                {/if}
            </td>
            <td>
                {if $rating}
                    <a href="{plink Entity:editRating $rating->id}">Edit rating</a>
                {else}
                    <a href="{plink Entity:rate $entity->id}">Rate</a>
                {/if}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
