<canvas id="userRadarChart"></canvas>
<script>
        const statData = [{$statMovie}, {$statSeries}, {$statSeason}, {$statBook}, {$statMusic}, {$statGame}];
        const percentData = [{$percentMovie}, {$percentSeries}, {$percentSeason}, {$percentBook}, {$percentMusic}, {$percentGame}];
</script>
<script type='text/javascript' src="/js/component/statUserRadar.js"></script>
