div.body {
    background-image: url(/image/www/default.jpg);

    nav {
        .link-nav, .link-nav:hover {
            color: white
        }
    }

    ul.main-menu
    {
        bottom: auto;
        right: auto;
        top: 50vh;
        left: auto;
        font-family: 'Roboto Mono', sans-serif;

        & > li > a
        {
            & > span {
                font-size: 50px;
                line-height: 50px;

                text-shadow: 0 0 10px black;
            }

            & > .box {
                width: 0;
                height: 37px;

                transition: width 0.3s ease;

                transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
            }

            &:hover > .box {
                width: 3em;
            }
        }
    }
}
