@import "../colors";

html, body
{
  max-width: 100%;
  max-height: 100%;

  background: url(/image/www/about.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  transition: margin 0.5s ease;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.transition
{
  margin-left: 250px;
}

main
{
  position: absolute;
  max-width: 650px;

  margin: 0;
  padding: 0;

  bottom: -40vh;
  left: 25vw;

  p
  {
    margin: 0;
  }

  .header a, .header p
  {
    font-size: 22px;
    padding: 0 0 0.2em 0;
  }

  .header p:first-of-type > span
  {
    font-weight: 400;
    color: $red;
  }

  .header p:first-of-type > span:last-of-type
  {
    font-size: 0.7em;
    color: $dark;
  }

  .text p
  {
    font-size: 17px;
  }

  #arrows span
  {
    color: $red;

    font-size: 50px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    &:hover
    {
      cursor: pointer;
      color: $red;
    }
  }
}

nav
{
  position: absolute;
  top: 0;
  left: 0;

  margin: 20px;

  & > ul
  {
    list-style: none;

    margin: 0;
    padding: 0;

    & > li
    {
      & > a
      {
        display: block;
        margin-top: 15px;

        & > div
        {
          display: inline-block;
          margin-right: 10px;
        }

        & > p
        {
          display: inline-block;
          color: $dark;
          font-size: 25px;
          margin: 0;
          padding: 0;
        }

        &:hover > p
        {
          text-decoration: underline;
        }
      }
    }
  }
}

aside
{
  background-color: $dark;

  left: -250px;
  top: 0;

  height: 100vw;
  width: 249px;

  z-index: 100;
  position: fixed;

  border-right: 1px solid $dark;

  & > ul
  {
    list-style-type: none;
    padding: 0;
    margin-top: 30%;

    & > li
    {
      padding: 0;
      margin: 0 0 5px 0;

      & > a
      {
        display: block;
        padding: 0;

        width: 100%;
        font-size: 1.0em;
        color: $white;
      }

      &:hover
      {
        background-color: $white;
        cursor: pointer;
      }

      &:hover > a
      {
        text-decoration: none;
        color: $dark;
      }

    }
  }
}

