{define col-original_title}
    <td>
        <a href="{plink "{$pName}:view" $row->id}">{$row->original_title}</a>
    </td>
{/define}

{define col-maker}
    <td>
        <ul class="person-list">
            {foreach $row->related("jun_{$pname}2{$type}.{$pname}_id") as $temp}
                {if isset($temp->person_id)}
                <li>
                    <a href="{plink Person:view $temp->person_id}">{$temp->person_id|person}</a>
                </li>
                {elseif isset($temp->pseudonym_id)}
                <li>
                    <a href="{plink Pseudonym:view $temp->pseudonym_id}">{$temp->pseudonym->name}</a>
                </li>
                {else}
                <li>
                    <a href="{plink Band:view $temp->band_id}">{$temp->band->name}</a>
                </li>
                {/if}
            {/foreach}
        </ul>
    </td>
{/define}

{define col-rating}
<td>
    {$ratingModel->getRating($row->id)|number: 2}
</td>
{/define}

{define col-men_rating}
<td>
    {$ratingModel->getMenRating($row->id)|number: 2}
</td>
{/define}

{define col-women_rating}
<td>
    {$ratingModel->getWomenRating($row->id)|number: 2}
</td>
{/define}

{define col-my_rating}
    <td>
        {var $rating => $ratingModel->getUserRating($row->id, $userId)}
        {if $rating}
            {$rating->rating}
        {/if}
    </td>
{/define}

{define col-action}
    <td>
        {var $rating => $ratingModel->getUserRating($row->id, $userId)}
        {if $rating}
            <a href="{plink "{$pName}:editRating" $rating->id}">Edit rating</a>
        {else}
            <a href="{plink "{$pName}:rate" $row->id}">Rate</a>
        {/if}
    </td>
{/define}
