{layout ../@layout.latte}
{block title}Series{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Series:add}">Add series</a>
        </li>
        <li>
            <a href="{plink Series:rate}">Add rating</a>
        </li>
        <li>
            <a href="{plink Series:list}">List of series</a>
        </li>
        <li>
            <a href="{plink Series:seasonList}">List of seasons</a>
        </li>
        <li>
            <a href="{plink Series:directorList}">List of directors</a>
        </li>
        <li>
            <a href="{plink Series:actorList}">List of actors</a>
        </li>
    </ul>
</section>
<section>
    <h2>Recently added</h2>
    {control seriesSmallList 'new'}
</section>
<section>
    <h2>Top rated</h2>
    {control seriesSmallList 'top'}
</section>
<section>
    <h2>To rate</h2>
    {control seriesSmallList 'notRated'}
</section>
