{layout ../@layout.latte}
{block title}Series List{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Series:add}">Add series</a>
        </li>
        <li>
            <a href="{plink Series:rate}">Add rating</a>
        </li>
    </ul>
</section>
<section>
    {control seriesList}
</section>
