{layout ../@layout.latte}
{block title}{$data->name}{/block}
{block head}{/block}
{block content}

<section>
    <table class="list">
        <tr>
            <th>Years active</th>
            <td>{if isset($data->year_from)}{$data->year_from} - {if isset($data->year_to)}$data->year_to{else}present{/if}{/if}</td>
        </tr>
        <tr>
            <th>Members</th>
            <td>
                <ul class="person-list">
                    {foreach $data->related('band2member.band_id')->where('year_to', null) as $temp}
                        <li>
                            {if isset($temp->person_id)}
                                <a href="{plink Person:view $temp->person_id}">{$temp->person_id|person}</a>
                            {else}
                                <a href="{plink Pseudonym:view $temp->pseudonym_id}">{$temp->pseudonym->name}</a>
                            {/if}
                            {if isset($temp->role)}
                                ({$temp->role})
                            {/if}
                        </li>
                    {/foreach}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Former Members</th>
            <td>
                <ul class="person-list">
                    {foreach $data->related('band2member.band_id')->where('year_to NOT', null) as $temp}
                        <li>
                            {if isset($temp->person_id)}
                                <a href="{plink Person:view $temp->person_id}">{$temp->person_id|person}</a>
                            {else}
                                <a href="{plink Pseudonym:view $temp->pseudonym_id}">{$temp->pseudonym->name}</a>
                            {/if}
                            {if isset($temp->role)}
                                ({$temp->role})
                            {/if}
                        </li>
                    {/foreach}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{$data->description}</td>
        </tr>
    </table>
</section>
{if $data->related('music2interpret.band_id')->count() > 0}
<section>
    <h2>Interpret</h2>
    {control interpretWorks $data->id}
</section>
{/if}
