{block title}{$data->username}{/block}
{block content}

{if $data->id === $user->getId()}
    <section>
        <div class="btn-group pull-right">
                <a href="{plink Settings:default}" class="btn btn-primary">Change account settings</a>
                <a href="{plink Settings:password}" class="btn btn-primary">Change password</a>
        </div>
    </section>
{/if}
<section>
    <table class="table">
        <tr>
            <th>Name</th>
            <td>{$data->name} {$data->surname}</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>{$data->ref('def_country', 'country_id')->name}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{$data->gender}</td>
        </tr>
        {if $data->birthdate !== null}
            <tr>
                <th>Birthday</th>
                <td>{$data->birthdate|date:'%d.%m.%Y'}</td>
            </tr>
        {/if}
        {if $data->description !== null}
            <tr>
                <th>Description</th>
                <td>{$data->description}</td>
            </tr>
        {/if}
    </table>
</section>

