services:

    loginForm:
        class: App\Component\LoginForm

    settingsForm:
        class: App\Component\SettingsForm

    newUserForm:
        class: App\Component\NewUserForm

    newsBanner:
        class: App\Component\NewsBanner
    newsForm:
        class: App\Component\NewsForm

    introductionBanner:
        class: App\Component\IntroductionBanner
    introductionForm:
        class: App\Component\IntroductionForm

    personForm:
        class: App\Component\PersonForm

    viewHead:
        class: App\Component\ViewHead

    movieList:
        class: App\Component\MovieList
    bookList:
        class: App\Component\BookList
    musicList:
        class: App\Component\MusicList

    smallListMovie:
        class: App\Component\SmallListMovie
    smallListBook:
       class: App\Component\SmallListBook
    smallListMusic:
       class: App\Component\SmallListMusic

    ratingListMovie:
        class: App\Component\RatingListMovie
    ratingListBook:
        class: App\Component\RatingListBook
    ratingListMusic:
        class: App\Component\RatingListMusic

    movieForm:
        class: App\Component\MovieForm
    bookForm:
        class: App\Component\BookForm
    musicForm:
        class: App\Component\MusicForm

    rateFormMovie:
        class: App\Component\RateFormMovie
    rateFormBook:
        class: App\Component\RateFormBook
    rateFormMusic:
        class: App\Component\RateFormMusic

    directorList:
        class: App\Component\DirectorList
    actorList:
        class: App\Component\ActorList
    authorList:
        class: App\Component\AuthorList
    interpretList:
        class: App\Component\InterpretList

    directedList:
        class: App\Component\DirectedList
    actedList:
        class: App\Component\ActedList
    writtenList:
        class: App\Component\WrittenList

    statElementCount:
        class: App\Component\StatElementCount
    statUserActivity:
        class: App\Component\StatUserActivity
