services:

    loginForm:
        class: App\Component\LoginForm

    settingsForm:
        class: App\Component\SettingsForm

    newUserForm:
        class: App\Component\NewUserForm

    newsBanner:
        class: App\Component\NewsBanner
    newsForm:
        class: App\Component\NewsForm

    introductionBanner:
        class: App\Component\IntroductionBanner
    introductionForm:
        class: App\Component\IntroductionForm

    changelog:
        class: App\Component\Changelog

    personForm:
        class: App\Component\PersonForm
    pseudonymForm:
        class: App\Component\PseudonymForm
    personGroupForm:
        class: App\Component\PersonGroupForm

    entityView:
        class: App\Component\EntityView

    movieList:
        class: App\Component\MovieList
    seriesList:
        class: App\Component\SeriesList
    bookList:
        class: App\Component\BookList
    musicList:
        class: App\Component\MusicList

    movieSmallList:
        class: App\Component\MovieSmallList
    seriesSmallList:
        class: App\Component\SeriesSmallList
    bookSmallList:
       class: App\Component\BookSmallList
    musicSmallList:
       class: App\Component\MusicSmallList

    movieForm:
        class: App\Component\MovieForm
        inject: yes
    seriesForm:
        class: App\Component\SeriesForm
        inject: yes
    bookForm:
        class: App\Component\BookForm
        inject: yes
    musicForm:
        class: App\Component\MusicForm
        inject: yes

    ratingListMovie:
        class: App\Component\RatingListMovie
    ratingListSeries:
        class: App\Component\RatingListSeries
    ratingListBook:
        class: App\Component\RatingListBook
    ratingListMusic:
        class: App\Component\RatingListMusic

    rateFormMovie:
        class: App\Component\RateFormMovie
    rateFormSeries:
        class: App\Component\RateFormSeries
    rateFormBook:
        class: App\Component\RateFormBook
    rateFormMusic:
        class: App\Component\RateFormMusic

    directorList:
        class: App\Component\DirectorList
    actorList:
        class: App\Component\ActorList
    authorList:
        class: App\Component\AuthorList
    interpretList:
        class: App\Component\InterpretList

    directorWorks:
        class: App\Component\DirectorWorks
    actorWorks:
        class: App\Component\ActorWorks
    authorWorks:
        class: App\Component\AuthorWorks
    interpretWorks:
        class: App\Component\InterpretWorks

    statElementCount:
        class: App\Component\StatElementCount
    statUserActivity:
        class: App\Component\StatUserActivity
