includes:
    - database.neon
    - recaptcha.neon
    - parameters.neon
    - model.neon
    - component.neon
    - latte.neon

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    catchExceptions: false
    mapping:
        *: App\*Module\Presenter\*Presenter

session:
    name: peldax
    expiration: 14 days

http:
    frames: 'SAMEORIGIN'
    headers:
        Server: 'peldax.com'
        X-Powered-By: 'peldax.com'

        #Strict-Transport-Security: max-age=3600; includeSubDomains; preload
        #Public-Key-Pins:
        X-Xss-Protection: '1;mode=block;'
        X-Content-Type-Options: 'nosniff'
        Referrer-Policy: 'origin-when-cross-origin'
    csp:
        script-src: [
            nonce
            https://www.google.com/recaptcha/
            ]
        style-src: [
            self
            unsafe-inline
            ]
        frame-src: [
            https://www.google.com/recaptcha/
            ]

extensions:
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    reCaptcha: ReCaptchaControl\DI\Extension

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

    - App\Model\Authenticator
    authenticator: @App\Model\Authenticator
