parameters:
    appName: NRDb
    appTitle: 'NRDb'

includes:
    - database.neon
    - recaptcha.neon

    - parameters.neon
    - model.neon
    - component.neon
    - latte.neon

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    catchExceptions: false
    mapping:
        *: App\*Module\Presenter\*Presenter

session:
    name: %appName%
    expiration: 14 days

extensions:
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    reCaptcha: ReCaptchaControl\DI\Extension

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

    - App\Model\Authenticator
    authenticator: @App\Model\Authenticator
