parameters:
    appName: NRDb
    appTitle: 'NRDb'

includes:
    - database.neon
    - parameters.neon
    - model.neon
    - component.neon

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    catchExceptions: false
    mapping:
        *: App\*Module\Presenter\*Presenter

session:
    name: %appName%
    expiration: 14 days

latte:
    macros:
        - Nextras\Latte\Macros\RedefineMacro::install

extensions:
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

    - App\Model\Authenticator
    authenticator: @App\Model\Authenticator

    nette.latteFactory:
        setup:
            - addFilter(person, @App\Latte\PersonFilter)
    - App\Latte\PersonFilter
