latte:
    macros:
        - App\Latte\Macros::install

services:

    - App\Latte\ArtistFilter
    - App\Latte\RatingFilter

    nette.latteFactory:
        setup:
            - addFilter(artist, @App\Latte\ArtistFilter)
            - addFilter(rating, @App\Latte\RatingFilter)
