services:

- App\Model\CountryModel

- App\Model\NewsModel
- App\Model\ChangelogModel
- App\Model\IntroductionModel

- App\Model\PersonModel

- App\Model\MovieModel
- App\Model\MovieDirectorModel
- App\Model\MovieActorModel
- App\Model\RatingMovieModel

- App\Model\SeriesModel
- App\Model\SeriesDirectorModel
- App\Model\SeriesActorModel
- App\Model\RatingSeriesModel

- App\Model\BookModel
- App\Model\BookAuthorModel
- App\Model\RatingBookModel

- App\Model\GameModel
- App\Model\RatingGameModel

- App\Model\MusicModel
- App\Model\RatingMusicModel

- App\Model\StudioModel


