services:

- App\Model\MovieModel
- App\Model\SeriesModel
- App\Model\BookModel
- App\Model\GameModel
- App\Model\RatingMovieModel
- App\Model\RatingSeriesModel
- App\Model\RatingBookModel
- App\Model\RatingGameModel
- App\Model\DirectorModel
- App\Model\StudioModel
- App\Model\AuthorModel
- App\Model\CountryModel
- App\Model\ChangelogModel

