<script type='text/javascript' src="/js/component/entityForm.js"></script>

<ul class="inline-buttons">
    <li><a id="add_artist" >Add Artist</a></li>
</ul>

{snippet formSnippet}
    {control form}
{/snippet}

<div id="artist_subform">
    <h2>New Artist</h2>
    {snippet artistSnippet}
        {control artistForm}
    {/snippet}
</div>
