{layout ../@layout.latte}
{block title}Music{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Music:add}">Add recording</a>
        </li>
        <li>
            <a href="{plink Music:rate}">Add rating</a>
        </li>
        <li>
            <a href="{plink Music:list}">List of recordings</a>
        </li>
        <li>
            <a href="{plink Music:interpretList}">List of interprets</a>
        </li>
    </ul>
</section>
<section>
    <h2>Recently added</h2>
    {control smallListMusic 'new'}
</section>
<section>
    <h2>Top rated</h2>
    {control smallListMusic 'top'}
</section>
<section>
    <h2>To rate</h2>
    {control smallListMusic 'notRated'}
</section>

