{layout ../@layout.latte}
{block title}Recording List{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Music:add}">Add recording</a>
        </li>
        <li>
            <a href="{plink Music:rate}">Add rating</a>
        </li>
    </ul>
</section>
<section>
    {control musicList}
</section>
