<ul class="artist-list">
{foreach $artists as $temp}
    {if isset($temp->person_id)}
        <li>
            <a href="{plink Person:view $temp->person_id}">{$temp->person_id|person}</a>
        </li>
    {else}
        <li>
            <a href="{plink Group:view $temp->group_id}">{$temp->group->name}</a>
        </li>
    {/if}
{/foreach}
</ul>
