<table class="grid">
    <thead>
        <th>Original Title</th>
        {if !in_array($pName, array('Music', 'Game'))}
            <th>English Title</th>
            <th>Czech Title</th>
        {/if}
        {if $pName != 'Series'}
            <th>Year</th>
        {/if}
        <th>Rating</th>
        <th>My Rating</th>
        <th>Actions</th>
    </thead>
    <tbody>
    {foreach $entities as $entity}
        <tr>
            <td><a href="{plink "{$pName}:view" $entity->id}">{$entity->original_title}</a></td>
            {if !in_array($pName, array('Music', 'Game'))}
                <td>{$entity->english_title}</td>
                <td>{$entity->czech_title}</td>
            {/if}
            {if $pName != 'Series'}
                <td>{$entity->year}</td>
            {/if}
            <td>{$ratingModel->getRating($entity->id)|number:2}</td>
            {var $rating => $ratingModel->getUserRating($entity->id, $userId)}
            <td>
                {if $rating}
                    {if $pName != 'Series'}
                        {$rating->rating}
                    {else}
                        {$rating|number:2}
                    {/if}
                {/if}

            </td>
            <td>
                {if $pName != 'Series'}
                    {if $rating}
                        <a href="{plink "{$pName}:editRating" $rating->id}">Edit rating</a>
                    {else}
                        <a href="{plink "{$pName}:rate" $entity->id}">Rate</a>
                    {/if}
                {else}
                    {if $rating}
                        <a href="{plink "{$pName}:editRating" $entity->id}">Edit rating</a>
                    {else}
                        <a href="{plink "{$pName}:rate" $entity->id}">Rate</a>
                    {/if}
                {/if}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
