{block title}Homepage{/block}

{block content}

<nav>
    <ul>
        <li><a href="{plink About:default}">
                <div class="box"></div>
                <p>ABOUT ME</p>
            </a>
        </li><li class="space">
            <a href="{plink Gallery:default}">
                <div class="box"></div>
                <p>GALLERY</p>
            </a>
        </li><li>
            <a href="{plink :App:Default:default}">
                <div class="box"></div>
                <p>APP</p>
            </a>
        </li>
    </ul>
</nav>
