{layout ../@layout.latte}
{block title}Book{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Book:add}">Add book</a>
        </li>
        <li>
            <a href="{plink Book:rate}">Add rating</a>
        </li>
        <li>
            <a href="{plink Book:list}">List of books</a>
        </li>
        <li>
            <a href="{plink Book:authorList}">List of authors</a>
        </li>
    </ul>
</section>
<section>
    <h2>Recently added</h2>
    {control bookSmallList 'new'}
</section>
<section>
    <h2>Top rated</h2>
    {control bookSmallList 'top'}
</section>
<section>
    <h2>To rate</h2>
    {control bookSmallList 'notRated'}
</section>

