social: 'Social'
useful: 'Useful'
development: 'Development'

home: 'Home'
links: 'Links'

about: 'About'
sport: 'Sport'
business: 'Business'
projects: 'Projects'
gallery: 'Gallery'

name_1: 'Hello! My name is '
name_2: ' but you may know me by my internet name '
about_1: 'I am a '
software_dev: 'software developer'
about_2: ' from the '
czech_republic: 'Czech Republic'
climb_1: 'My passion lies in '
climbing: 'climbing'
climb_2: ', sport climbing in particular.'
intre_1: 'I am also interested in '
mathematics: 'mathematics'
intre_2: ', especially mathematical analysis and graph theory, which improves my ability to solve complex algorithmization problems.'
appro_1: 'I always try to approach new obstacles using '
intuition: 'intuition'
appro_2: ' hand in hand with careful analysis of a given task.'
perfe_1: 'As a '
perfectionist: 'perfectionist'
perfe_2: ' I offer a strong enthusiasm for pinpointing the best solutions for non-trivial problems.'
