social: 'Sociální'
useful: 'Užitečné'
development: 'Vývoj'

home: 'Domů'
links: 'Odkazy'

about: 'O mně'
sport: 'Sport'
business: 'Pracovně'
projects: 'Projekty'
gallery: 'Galerie'

name_1: 'Ahoj! Jmenuji se '
name_2: ' ale možná mě znáte pod mým internetovým jménem '
about_1: 'Jsem '
software_dev: 'softwarový vývojář'
about_2: ' a mým domovem je '
czech_republic: 'Česká Republika'
climb_1: 'Mojí vášní je '
climbing: 'lezení'
climb_2: ', konkrétně sportovní lezení.'
intre_1: 'Také se zajímám o '
mathematics: 'matematiku'
intre_2: ', obzvláště matematickou analýzu a teorii grafů, které posouvají moje schonpsti řešit komplexní algoritmické problémy.'
appro_1: 'K novým překážkám se snažím přistupovat pomocí '
intuition: 'intuice'
appro_2: ' společně s pečlivou analýzou daného úkolu.'
perfe_1: 'Jako '
perfectionist: 'perfekcionalista'
perfe_2: ' nabízím nadšení pro nalezení těch nejlepších řšení při řešení netriviálních problémů.'
