{layout ../@layout.latte}
{block title}Statistics{/block}
{block head}{/block}
{block content}

<section>
    <h2>Number of elements and ratings</h2>
    {control statElementCount}
</section>
<section>
    <h2>Most active users</h2>
    {control statUserActivity}
</section>
