{layout ../@layout.latte}
{block title}{$data->username}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        {if $data->id == $user->getId()}
            <li>
                <a href="{plink Default:settings}">Change account settings</a>
            </li>
            <li>
                <a href="{plink Default:changePassword}">Change password</a>
            </li>
        {/if}
    </ul>
</section>
<section>
    <table class="list">
        <tr>
            <th>Name</th>
            <td>{$data->name} {$data->surname}</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>{$data->ref('def_country', 'country_id')->name}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{$data->gender}</td>
        </tr>
        {if $data->birthdate != null}
            <tr>
                <th>Birthday</th>
                <td>{$data->birthdate|date:'%d.%m.%Y'}</td>
            </tr>
        {/if}
        {if $data->description != null}
            <tr>
                <th>Description</th>
                <td>{$data->description}</td>
            </tr>
        {/if}
    </table>
</section>
<section>
    {control statUserRadar $data}
</section>