<table class="grid table-fixed">
    <thead>
        <tr>
            <td></td>
            <th>Movie</th>
            <th>Series</th>
            <td>Season</td>
            <th>Book</th>
            <th>Music</th>
            <th>Game</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {foreach $activeUsers as $temp}
        {if $temp->id == $user->getId()}
        <tr class="highlight">
        {else}
        <tr>
        {/if}
            <td><a href="{plink User:view $temp->id}">{$temp->username}</a></td>
            <td>{$temp->movie}</td>
            <td>{$temp->series}</td>
            <td>{$temp->season}</td>
            <td>{$temp->book}</td>
            <td>{$temp->music}</td>
            <td>{$temp->game}</td>
            <td>{$temp->total}</td>
        </tr>
    {/foreach}
    </tbody>
</table>
<canvas id="userActivityChart"></canvas>
<script>
    const statData = [
        {foreach $activeUsers as $temp}
        [
            {$temp->movie},
            {$temp->series},
            {$temp->season},
            {$temp->book},
            {$temp->music},
            {$temp->game}
        ]
        {sep},{/sep}
        {/foreach}
    ];
    const datasetData = [
        {foreach $activeUsers as $temp}
        {
            label: {$temp->username},
            data: [
                {$temp->movie / $movieMax},
                {$temp->series / $seriesMax},
                {$temp->season / $seasonMax},
                {$temp->book / $bookMax},
                {$temp->music / $musicMax},
                {$temp->game / $gameMax}
            ],
            backgroundColor: chartBackgroundColors[{$iterator->counter - 1}],
            borderColor: chartBorderColors[{$iterator->counter - 1}],
            borderWidth: 1
        }
        {sep},{/sep}
        {/foreach}
    ];
</script>
<script type="text/javascript" src="/www/js/component/statUserActivity.js"></script>
