.flash
{
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
}

.failure, .error
{
  @extend .flash;

  background-color: $failure;
  border: 2px solid $failure-border
}

.success
{
  @extend .flash;

  background-color: $success;
  border: 2px solid $success-border
}

.info
{
  @extend .flash;

  background-color: $info;
  border: 2px solid $info-border
}

ul.form-errors
{
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.form-flash
{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-weight: 300;
}

span.form-error
{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5px;
}

.form-error
{
  @extend .form-flash;

  background-color: $failure;
  border: 2px solid $failure-border
}