#locale
{
  & > div.selectize-control
  {
    margin-top: 6px;
    width: 150px;

    & > div.selectize-input
    {
      padding: 4px 8px;
      width: 150px;
      text-align: left;

      & > input
      {
        display: none;
      }
    }

    & > div.selectize-dropdown
    {
      text-align: left;
    }
  }
}
