/* override selectize.js */

div.selectize-control
{
  width: 100%;
}

.selectize-dropdown .active {
  background: $red none no-repeat;
  color: $white;
}

.selectize-control.single .selectize-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: $white none;
  filter: none;
}

.selectize-control.multi .selectize-input [data-value]
{
  background: $red none no-repeat;
  border: 1px solid $failure-border;
}

.selectize-control.single .selectize-input, .selectize-input
{
  border: 1px solid $grey;
  border-radius: 3px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  &.focus
  {
    border: 1px solid $red;
    border-radius: 0;
    outline: 1px solid $red;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}