/*

@import "nav";
@import "buttons";
@import "tables";
@import "flashes";
@import "form";
@import "selectize";
@import "dropdown";
@import "search";
@import "locale";

section
{
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid $grey;
}

section:last-of-type
{
  border: 0;
}

main
{
  width: 1000px;
  margin: 60px auto auto auto;
  padding: 0 0 150px 0;
  min-height: -webkit-calc(100vh - 210px);
  min-height:    -moz-calc(100vh - 210px);
  min-height:         calc(100vh - 210px);

  header
  {
    h1
    {
      padding: 0.67em 0;
      margin: 0;
    }
  }
}
*/