{define col-number}
    <td>
        <a href="{plink Season:view $row->id}">{$row->number}</a>
    </td>
{/define}

{define col-original_title}
    <td>
        <a href="{plink Entity:view $row->id}">{$row->original_title}</a>
    </td>
{/define}

{define col-artist}
    <td>
        {var artists = $row->related("jun_artist2entity.entity_id")->where('role', \App\Enum\TypeToRole::LIST_ROLE[$row->type])}
        {artistList $artists}
    </td>
{/define}

{define col-year}
    <td class="center">
        {$row->year}
    </td>
{/define}

{define col-rating}
    <td class="center">
        {$row|rating}
    </td>
{/define}

{define col-my_rating}
    <td class="center">
        {$row->my_rating}
    </td>
{/define}

{define col-action}
    <td>
        {if $row->my_rating_id}
            <a class="iframePopup" href="{plink Entity:editRating $row->my_rating_id}">Edit rating</a>
        {else}
            <a class="iframePopup" href="{plink Entity:rate $row->id}">Rate</a>
        {/if}
    </td>
{/define}
