{define col-number}
    <td>
        <a href="{plink Season:view $row->id}">{$row->number}</a>
    </td>
{/define}

{define col-original_title}
    <td>
        <a href="{plink Entity:view $row->id}">{$row->original_title}</a>
    </td>
{/define}

{define col-artist}
    <td>
        {var artists = $row->related("jun_artist2entity.entity_id")->where('role', \App\Enum\TypeToRole::LIST_ROLE[$row->type])}
        {artistList $artists}
    </td>
{/define}

{define col-year}
    <td class="center">
        {$row->year}
    </td>
{/define}

{define col-head-class-year}
    center
{/define}

{define col-rating}
    <td class="center">
        {$row|rating}
    </td>
{/define}

{define col-head-class-rating}
    center
{/define}

{define col-my_rating}
    <td class="center">
        {var $rating = $ratingModel->getUserRating($row->id, $user->id)}
        {if $rating}
            {$rating->value}
        {/if}
    </td>
{/define}

{define col-head-class-my_rating}
    center
{/define}

{define col-action}
    <td>
        {var $rating => $ratingModel->getUserRating($row->id, $user->id)}
        {if $rating}
            <ul class="action-list">
                <li><a href="{plink Entity:editRating $rating->id}">Edit rating</a></li>
                <li><a href="{plink Entity:removeRating $rating->id}">Remove rating</a></li>
            </ul>
        {else}
            <a href="{plink Entity:rate $row->id}">Rate</a>
        {/if}
    </td>
{/define}
