{define col-original_title}
    <td>
        <a href="{plink "{$pName}:view" $row->id}">{$row->original_title}</a>
    </td>
{/define}

{define col-maker}
    <td>
        <ul class="person-list">
            {foreach $row->related("{$pname}2{$type}.movie_id") as $personEntity}
                <li><a href="{plink Person:view $personEntity->person_id}">{$personEntity->person_id|person}</a></li>
            {/foreach}
        </ul>
    </td>
{/define}

{define col-rating}
<td>
    {$ratingModel->getRating($row->id)|number: 2}
</td>
{/define}

{define col-men_rating}
<td>
    {$ratingModel->getMenRating($row->id)|number: 2}
</td>
{/define}

{define col-women_rating}
<td>
    {$ratingModel->getWomenRating($row->id)|number: 2}
</td>
{/define}

{define col-my_rating}
    <td>
        {var $rating => $ratingModel->getUserRating($row->id, $userId)}
        {if $rating}
            {$rating->rating}
            <a href="{plink "{$pName}:editRating" $rating->id}">Edit rating</a>
        {else}
            <a href="{plink "{$pName}:rate" $row->id}">Rate</a>
        {/if}
    </td>
{/define}
