{redefine table-open-tag}
<table class="grid">
{/redefine}

{redefine table-close-tag}
</table>
{/redefine}

{define col-rating}
<td>
    {$ratingMovieModel->getRating($row->id)|number: 2}
</td>
{/define}

{define col-original_title}
<td>
    <a href="{plink Movie:view $row->id}">{$row->original_title}</a>
</td>
{/define}

{define col-director}
<td>
    <ul class="person-list">
        {foreach $row->related('movie2director.movie_id') as $director}
        <li><a href="{plink Person:view $director->person_id}">{$director->person_id|person}</a></li>
        {/foreach}
    </ul>
</td>
{/define}

{define col-my_rating}
<td>
    {var $rating => $ratingMovieModel->getUserRating($row->id, $userId)}
    {if $rating}
        {$rating->rating}
        <a href="{plink Movie:editRating $rating->id}">Edit rating</a>
    {else}
        <a href="{plink Movie:rate $row->id}">Rate</a>
    {/if}
</td>
{/define}

{define col-men_rating}
<td>
    {$ratingMovieModel->getMenRating($row->id)|number: 2}
</td>
{/define}

{define col-women_rating}
<td>
    {$ratingMovieModel->getWomenRating($row->id)|number: 2}
</td>
{/define}
