{redefine col-maker}
    <td>
        {artistList $row->related("jun_season2director.season_id.series_id")}
    </td>
{/redefine}

{redefine col-year}
    <td class="center">
        {var range = $row->related('ent_season.series_id')->select('MIN(year) AS min, MAX(year) AS max')->fetch()}
        {dump $range}
        {if $range}
            {$range->min} - {$row->active ? 'present' : $range->max}
        {/if}
    </td>
{/redefine}
