{redefine col-maker}
    <td>
        {artistList $entityModel->getDirectors($row->id)}
    </td>
{/redefine}

{redefine col-year}
    <td class="center">
        {ifset $row->year_min}
            {$row->year_min} - {$row->active ? 'present' : $row->year_max}
        {/ifset}
    </td>
{/redefine}
