<script>
    var searchUrl = {link search!};

    $(document).ready(function()
    {
        $('#search').keyup(function()
        {
            var value = $(this).val();

            $.nette.ajax(
            {
                traditional: true,
                url: searchUrl,
                method: 'POST',
                data:
                {
                    search: value
                },
                success: function()
                {
                    return;
                }
            });
        });
    });

</script>
<input title="Global search" type="search" id="search" />
<ul n:snippet="search" class="dropdown-list">
    {if $flag}
        {foreach $searchEntity as $temp}
            <li>
                <a href="{plink Entity:view $temp->id}">{$temp->original_title}</a>
            </li>
        {/foreach}
        {foreach $searchArtist as $temp}
            <li>
                <a href="{plink Artist:view $temp->id}">{$temp->id|artist}</a>
            </li>
        {/foreach}
    {else}
        <li>
            <p>No results</p>
        </li>
    {/if}
</ul>
