{layout ../@layout.latte}
{block title}{$data->name}{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Group:edit $data->id}">Edit details</a>
        </li>
    </ul>
</section>
<section> 
    <table class="list"> 
        <tr> 
            <th>Years active</th> 
            <td>{if $data->year_from}{$data->year_from} - {if isset($data->year_to)}{$data->year_to}{else}present{/if}{/if}</td>
        </tr> 
        <tr> 
            <th>Members</th> 
            <td> 
                {var $temp => $data->related('jun_group2member.group_id')->where('active', 1)}
                {personList $temp}
            </td> 
        </tr> 
        <tr> 
            <th>Former Members</th> 
            <td> 
                {var $temp => $data->related('jun_group2member.group_id')->where('active', 0)}
                {personList $temp}
            </td> 
        </tr> 
        <tr> 
            <th>Description</th> 
            <td>{$data->description}</td> 
        </tr> 
    </table> 
</section> 
{if $data->related('jun_music2interpret.group_id')->count() > 0} 
<section> 
    <h2>Interpret</h2> 
    {control interpretWorks $data->id} 
</section> 
{/if}
