{layout ../@layout.latte}
{block title}{$presenter->locale[$presenter->type]}{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Entity:add}">{$presenter->locale[$presenter->type.'_add']}</a>
        </li>
        <li>
            <a href="{plink Entity:list}">{$presenter->locale[$presenter->type.'_list']}</a>
        </li>
    </ul>
</section>
<section>
    <h2>{$presenter->locale['top_cat_1']}</h2>
    {control entitySmallList 'new'}
</section>
<section>
    <h2>{$presenter->locale['top_cat_2']}</h2>
    {control entitySmallList 'top'}
</section>
<section>
    <h2>{$presenter->locale['top_cat_3']}</h2>
    {control entitySmallList 'notRated'}
</section>
