{layout ../@layout.latte}
{block title}{$presenter->locale['edit'][$presenter->type]}{/block}
{block head}
    <script type='text/javascript' src="/js/dist/entityForm.min.js"></script>
{/block}
{block content}

{control entityForm}
