{layout ../@layout.latte}
{block title}{$presenter->locale['list'][$presenter->type]}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Entity:add}">{$presenter->locale['add'][$presenter->type]}</a>
        </li>
    </ul>
</section>
<section>
    {control entityList}
</section>
