{layout ../@layout.latte}
{block title}Entity List{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Entity:add}">Add entity</a>
        </li>
    </ul>
</section>
<section>
    {control entityList}
</section>
