{layout ../@layout.latte}
{block title}{$presenter->locale[$presenter->type.'_list']}{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Entity:add}">{$presenter->locale[$presenter->type.'_add']}</a>
        </li>
    </ul>
</section>
<section>
    {control entityList}
</section>
