{layout ../@layout.latte}
{block title}{$data->original_title}{/block}
{block head}{/block}
{block content}

{if isset($data->poster_file)}
    <div id="image">
        <img src="{php getcwd().$data->poster_file}"/>
    </div>
{/if}

<h2>{$data|rating}</h2>
{if $data->type === 'series'}
    <h3>Average rating from seasons: {$ratingModel->getRatingFromSeasons($data->id)|number:2}</h3>
{/if}
<h3>Men's rating: {$ratingModel->getMenRating($data->id)|number: 2}</h3>
<h3>Women's rating: {$ratingModel->getWomenRating($data->id)|number: 2}</h3>

{var $rating => $ratingModel->getUserRating($data->id, $user->getId())}
{if $rating}
    <h3>My rating:
        {$rating->value}
    </h3>
{/if}

<section>
    {if $data->type === 'season'}
        <ul class="inline-buttons">
            <li>
                <a href="{plink Entity:view $data->season_series_id}">← Series</a>
            </li>
        </ul>
    {/if}
    <ul class="inline-buttons">
        <li>
            <a href="{plink Entity:default type => $data->type}">← Overview</a>
        </li>
        <li>
            <a href="{plink Entity:list type => $data->type}">← List</a>
        </li>
    </ul>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Entity:edit $data->id}">Edit details</a>
        </li>
        <li>
            {if $rating}
                <a href="{plink Entity:editRating $rating->id}">Edit rating</a>
            {else}
                <a href="{plink Entity:rate $data->id}">Rate</a>
            {/if}
        </li>
    </ul>
</section>
<section>
    <table class="list">
        {if isset($data->english_title)}
            <tr>
                <th>English title</th>
                <td>{$data->english_title}</td>
            </tr>
        {/if}
        {if isset($data->czech_title)}
            <tr>
                <th>Czech title</th>
                <td>{$data->czech_title}</td>
            </tr>
        {/if}
        {if $data->type === 'series'}
            <tr>
                <th>Status</th>
                <td>{$data->series_active ? 'Running' : 'Finished'}</td>
            </tr>
            {var range = $data->related('entity.season_series_id')->select('MIN(year) AS min, MAX(year) AS max')->fetch()}
            {if $range}
                <tr>
                    <th>Year</th>
                    <td>{$range->min} - {$data->active ? 'present' : $range->max}</td>
                </tr>
            {/if}
        {else}
            <tr>
                <th>Year</th>
                <td>{$data->year}</td>
            </tr>
        {/if}
        {foreach \App\Enum\TypeToRole::ROLES[$data->type] as $role}
            <tr>
                <th>{$presenter->locale['role'][$role]}</th>
                <td>
                    {var artists = $data->related('jun_artist2entity.entity_id')->where('role', $role)}
                    {artistList $artists}
                </td>
            </tr>
        {/foreach}
        <tr>
            <th>Description</th>
            <td>{$data->description}</td>
        </tr>
    </table>
</section>
{if $data->type === 'series'}
    <section>
        <h2>Season List</h2>
        <ul class="inline-buttons">
            <li>
                <a href="{plink Season:add $data->id}">Add season</a>
            </li>
            <li>
                <a href="{plink Season:rate $data->id}">Add rating</a>
                <a href="{plink Season:rate $data->id}">Add rating</a>
            </li>
        </ul>
        {control seasonList $data->id}
    </section>
{/if}
<section>
    <h2>User rating</h2>
    {control ratingList $data->id}
</section>
