<script>
    {if $redrawControl}
        window.parent.$.nette.ajax({
            method: 'GET',
            traditional: true,
            url: {link :redrawControl! $redrawControlName}
        });
    {/if}

    {if $redrawRow}
        window.parent.$.nette.ajax({
            method: 'GET',
            traditional: true,
            url: {link :redrawRow! $redrawRowName, $redrawRowId}
        });
    {/if}

    window.parent.$.magnificPopup.close();
</script>
