<script>
    {if $redrawControl}
        window.parent.$.nette.ajax({
            method: 'GET',
            traditional: true,
            url: {plink :redrawControl! $control}
        });
    {/if}

    {if $redrawRow}
        window.parent.$.nette.ajax({
            method: 'GET',
            traditional: true,
            url: {plink :redrawRow! $control, $rowId}
        });
    {/if}

    window.parent.$.magnificPopup.close();
</script>
