{block title}{_www.about}{/block}
{block extra}
<header class="position-absolute">
    <p class="p-0 m-0">
        <span class="fs-17 red">Václav Pelíšek</span> <span class="fs-11 font-weight-light">peldax</span>
    </p>
    <p class="p-0 m-0 fs-13" >Developer. Climber. Perfectionist.</p>
    <a class="p-0 m-0 fs-13 link red" href="mailto:info@peldax.com" target="_top">info@peldax.com</a>
</header>
{/block}
{block content}

<div class="mb-5 white" itemscope itemtype="http://schema.org/Person">
    <div class="content-item intro">
        <p class="p-0 m-0 fs-12" itemprop="description">
            {_www.name_1}<span class="highlight" itemprop="name"><span itemprop="givenName">Václav</span> <span itemprop="familyName">Pelíšek</span></span>{_www.name_2}<span class="highlight" itemprop="additionalName">peldax</span>.
            {_www.about_1}<span class="highlight" itemprop="jobTitle">{_www.software_dev}</span>{_www.about_2}<span itemprop="birthPlace nationality">{_www.czech_republic}</span>.
            {_www.climb_1}<span class="highlight">{_www.climbing}</span>{_www.climb_2}
            {_www.intre_1}<span class="highlight">{_www.mathematics}</span>{_www.intre_2}
            {_www.appro_1}<span class="highlight">{_www.intuition}</span>{_www.appro_2}
            {_www.perfe_1}<span class="highlight">{_www.perfectionist}</span>{_www.perfe_2}
        </p>
    </div>
    <div class="content-item occupation d-none">
        <h2 class="highlight">Occupation</h2>
        <p class="p-0 m-0 fs-12">These are the organisations I currently work for.</p>
        <div class="mt-3 mx-2-neg d-md-flex justify-content-between">
            <div class="mx-2">
                <h3 class="highlight">Self employed</h3>
                <p class="p-0 m-0">For more information about job offers please visit the <a class="red link" href="{plink Business:default}">Business page</a>.</p>
            </div>
            <div class="mx-2" itemprop="brand worksFor" itemscope itemtype="http://schema.org/Organization">
                <h3 class="highlight" itemprop="name">JPstudio</h3>
                <p class="p-0 m-0">Website is currently under developement.</p>
            </div>
        </div>
    </div>
    <div class="content-item projects d-none">
        <h2 class="highlight">Projects</h2>
        <p class="p-0 m-0 fs-12">There are some of the open source projects I work on. For complete and detailed information please visit the <a class="red link" href="{plink Projects:default}">Projects page</a>.</p>
        <div class="mt-3 mx-2-neg d-md-flex justify-content-between">
            <div class="mx-2" itemscope itemtype="http://schema.org/CreativeWork">
                <h3 class="highlight">
                    <a class="red link" itemprop="url" href="https://github.com/shard-lang" target="_blank" rel="noopener">
                        <span itemprop="name">Shard</span>
                    </a>
                </h3>
                <p class="p-0 m-0" itemprop="description">Programming language.</p>
            </div>
            <div class="mx-2" itemscope itemtype="http://schema.org/CreativeWork">
                <h3 class="highlight">
                    <a class="red link" itemprop="url" href="https://github.com/nepttune" target="_blank" rel="noopener">
                        <span itemprop="name">Nepttune</span>
                    </a>
                </h3>
                <p class="p-0 m-0" itemprop="description">Expansion of Nette framework.</p>
            </div>
            <div class="mx-2" itemscope itemtype="http://schema.org/CreativeWork">
                <h3 class="highlight">
                    <a class="red link" itemprop="url" href="https://github.com/webmod" target="_blank" rel="noopener">
                        <span itemprop="name">Webmod</span>
                    </a>
                </h3>
                <p class="p-0 m-0" itemprop="description">Modular web application.</p>
            </div>
        </div>
    </div>
    <div class="content-item partners d-none">
        <h2 class="highlight">Partners</h2>
        <p class="p-0 m-0 fs-12">These are the organisations which support me and my activities.</p>
        <div class="mt-3 mx-2-neg d-md-flex justify-content-between">
            <div class="mx-2" itemprop="sponsor" itemscope itemtype="http://schema.org/Organization">
                <h3 class="highlight">
                    <a class="red link" itemprop="url" href="https://mojemana.cz/" target="_blank" rel="noopener">
                        <span itemprop="name">MANA</span>
                    </a>
                </h3>
                <p class="p-0 m-0" itemprop="description">Mana, your functional meal in a bottle.</p>
            </div>
        </div>
    </div>
    <div class="content-item awards d-none">
        <h2 class="highlight">Awards</h2>
        <div class="mt-3 mx-2-neg d-md-flex justify-content-between">
            <div class="mx-2">
                <h3 class="highlight">
                    <a class="red link" href="http://2015.igem.org/Team:Czech_Republic" target="_blank" rel="noopener">
                        <span itemprop="award">iGEM 2015 - First Runner-Up</span>
                    </a>
                </h3>
                <p class="p-0 m-0">The IOD Band project</p>
                <p class="p-0 m-0">Team Czech Republic</p>
                <p class="p-0 m-0">Second place overall, various special prices and nominations.</p>
            </div>
        </div>
    </div>
    <div class="content-item contact d-none">
        <h2 class="highlight">Contact</h2>
        <p class="p-0 m-0 fs-12">I am ready to answer any questions you have. Just send me a message! We can also connect using services / networks listed in the panel on the left.</p>
        <div class="mt-3 mx-2-neg d-md-flex justify-content-between">
            <div class="mx-2">
                <h3 class="highlight">Contact address</h3>
                <div itemprop="homeLocation" itemscope itemtype="http://schema.org/PostalAddress">
                    <p class="p-0 m-0">Václav Pelíšek</p>
                    <p class="p-0 m-0"><span itemprop="streetAddress">Studentská&nbsp;6</span></p>
                    <p class="p-0 m-0"><span itemprop="postalCode">323&nbsp;00</span> <span itemprop="addressLocality">Plzeň</span></p>
                </div>
                <p class="p-0 m-0">
                    <a class="p-0 m-0 red link" href="mailto:info@peldax.com" target="_top">
                        <span itemprop="email">info@peldax.com</span>
                    </a>
                </p>
                <p class="p-0 m-0">
                    <a class="p-0 m-0 red link" href="{plink Default:default}">
                        <span itemprop="url">www.peldax.com</span>
                    </a>
                </p>
            </div>
            <div class="mx-2">
                <h3 class="highlight">Business information</h3>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <p class="p-0 m-0">Václav Pelíšek</p>
                    <p class="p-0 m-0"><span itemprop="streetAddress">Jablonského&nbsp;591/1</span></p>
                    <p class="p-0 m-0"><span itemprop="postalCode">326&nbsp;00</span> <span itemprop="addressLocality">Plzeň</span></p>
                </div>
                <p class="p-0 m-0">IČO: <span itemprop="vatID">06444997</span></p>
                <!--<p class="p-0 m-0">DIČ: <span itemprop="taxID">Neplátce DPH</span></p>-->
            </div>
            <div class="mx-2">
                <h3 class="highlight">Bank information</h3>
                <p class="p-0 m-0">1276676014&nbsp;/&nbsp;3030</p>
                <p class="p-0 m-0">CZ30&nbsp;3030&nbsp;0000&nbsp;0012&nbsp;7667&nbsp;6014</p>
            </div>
        </div>
    </div>
    <meta itemprop="gender" content="Male" />
    <meta itemprop="sameAs" content="https://www.instagram.com/vaclav.pelisek/" />
    <meta itemprop="sameAs" content="https://www.facebook.com/vaclav.pelisek" />
    <meta itemprop="sameAs" content="https://www.twitter.com/peldax" />
    <meta itemprop="sameAs" content="https://plus.google.com/u/0/111564084691185534418/about" />
    <meta itemprop="sameAs" content="https://www.linkedin.com/in/peldax" />
    <meta itemprop="sameAs" content="https://www.youtube.com/channel/UC8CvvZctdZYShcmMiFy3bZw" />
    <meta itemprop="sameAs" content="https://www.reddit.com/user/peldax/" />
    <meta itemprop="sameAs" content="https://www.twitch.tv/peldax" />
    <meta itemprop="sameAs" content="https://www.chess.com/member/peldax" />
    <meta itemprop="sameAs" content="http://www.lezec.cz/denik.php?uid=70656c6461h" />
    <meta itemprop="sameAs" content="https://www.github.com/peldax" />
    <meta itemprop="sameAs" content="https://stackexchange.com/users/1425082/peldax?tab=accounts" />
</div>
