{layout ../@layout.latte}
{block title}Movie{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Movie:add}">Add movie</a>
        </li>
        <li>
            <a href="{plink Movie:rate}">Add rating</a>
        </li>
        <li>
            <a href="{plink Movie:list}">List of movies</a>
        </li>
    </ul>
</section>
<section>
    <h2>Recently added</h2>
    {control entitySmallList 'movie', 'new'}
</section>
<section>
    <h2>Top rated</h2>
    {control entitySmallList 'movie', 'top'}
</section>
<section>
    <h2>To rate</h2>
    {control entitySmallList 'movie', 'notRated'}
</section>

