{layout ../@layout.latte}{block title}Dashboard{/block}{block head}{/block}{block content}<section>    <h2>News</h2>    {control newsBanner}</section><section>    <h2>Introduction</h2>    {control introductionBanner}</section><section>    <h2>Stats</h2>    <h3>Number of elements and ratings</h3>    {control statElementCount}    <h3>Most active users</h3>    {control statUserActivity}</section>