{layout ../@layout.latte}
{block title}Directors{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Director:add}">Add director</a>
        </li>
    </ul>
</section>
<section>
    {control directorList}
</section>