{layout ../@layout.latte}
{block title}{$data->id|person}{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            {if $data->type == 'person'}
                <a href="{plink Person:edit $data->id}">Edit details</a>
            {else}
                <a href="{plink Person:editPseudonym $data->id}">Edit details</a>
            {/if}
        </li>
    </ul>
</section>
<section>
    <table class="list">
        {if $data->type === 'person'}
            <tr>
                <th>Nationality</th>
                <td>{$data->ref('def_country', 'country_id')->name}</td>
            </tr>
            <tr>
                <th>Born</th>
                <td>{$data->born|date:'%d.%m.%Y'}</td>
            </tr>
            <tr>
                <th>Died</th>
                <td>{$data->died|date:'%d.%m.%Y'}</td>
            </tr>
            <tr>
                <th>Pseudonyms</th>
                <td>
                    {personList $data->related('person.person_id')}
                </td>
            </tr>
        {elseif $data->type === 'band'}
            <tr>
                <th>Years active</th>
                <td>{if $data->born}{$data->born} - {$data->died ? $data->died : 'present'}{/if}</td>
            </tr>
            <tr>
                <th>Members</th>
                <td>
                    {var $temp => $data->related('jun_group2member.group_id')->where('active', 1)}
                    {memberList $temp}
                </td>
            </tr>
            <tr>
                <th>Former Members</th>
                <td>
                    {var $temp => $data->related('jun_group2member.group_id')->where('active', 0)}
                    {memberList $temp}
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{$data->description}</td>
            </tr>
        {else}
            <tr>
                <th>Pseudonym of</th>
                <td>
                    <a href="{plink Person:view $data->person_id}">{$data->person_id|person}</a>
                </td>
            </tr>
        {/if}
        <tr>
            <th>Member of</th>
            <td>
                {bandList $data->related('jun_group2member.person_id')}
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{$data->description}</td>
        </tr>
    </table>
</section>
<section>
    <h2>Works</h2>
    {control artistWorks $data->id}
</section>
