{layout ../@layout.latte}
{block title}{$data->name} {$data->surname}{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Person:edit $data->id}">Edit details</a>
        </li>
    </ul>
</section>
<section>
    <table class="list">
        <tr>
            <th>Nationality</th>
            <td>{$data->ref('country', 'country_id')->name}</td>
        </tr>
        <tr>
            <th>Born</th>
            <td>{$data->born|date:'%d.%m.%Y'}</td>
        </tr>
        <tr>
            <th>Died</th>
            <td>{$data->died|date:'%d.%m.%Y'}</td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{$data->bio}</td>
        </tr>
        <th>Pseudonyms</th>
        <td>
            <ul class="person-list">
                {foreach $data->related('pseudonym.person_id') as $pseudonym}
                    <li>
                        <a href="{plink Pseudonym:view $pseudonym->id}">{$pseudonym->name}</a>
                    </li>
                {/foreach}
            </ul>
        </td>
    </table>
</section>
{if $data->related('movie2director.person_id')->count() > 0}
<section>
    <h2>Directed</h2>
    {control directedList $data->id}
</section>
{/if}
{if $data->related('movie2actor.person_id')->count() > 0}
<section>
    <h2>Acted in</h2>
    {control actedList $data->id}
</section>
{/if}
{if $data->related('book2author.person_id')->count() > 0}
<section>
    <h2>Written</h2>
    {control writtenList $data->id}
</section>
{/if}