{layout ../@layout.latte}
{block title}{$data->name} {$data->surname}{/block}
{block head}{/block}
{block content}

<section>
    <ul class="inline-buttons">
        <li>
            <a href="{plink Person:edit $data->id}">Edit details</a>
        </li>
    </ul>
</section>
<section>
    <table class="list">
        <tr>
            <th>Nationality</th>
            <td>{$data->ref('country', 'country_id')->name}</td>
        </tr>
        <tr>
            <th>Born</th>
            <td>{$data->born|date:'%d.%m.%Y'}</td>
        </tr>
        <tr>
            <th>Died</th>
            <td>{$data->died|date:'%d.%m.%Y'}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{$data->description}</td>
        </tr>
        <th>Pseudonyms</th>
        <td>
            <ul class="person-list">
                {foreach $data->related('pseudonym.person_id') as $pseudonym}
                    <li>
                        <a href="{plink Pseudonym:view $pseudonym->id}">{$pseudonym->name}</a>
                    </li>
                {/foreach}
            </ul>
        </td>
    </table>
</section>
{if $data->related('movie2director.person_id')->count() > 0}
    <section>
        <h2>Director</h2>
        {control directorWorks $data->id}
    </section>
{/if}
{if $data->related('movie2actor.person_id')->count() > 0}
    <section>
        <h2>Actor</h2>
        {control actorWorks $data->id}
    </section>
{/if}
{if $data->related('book2author.person_id')->count() > 0}
    <section>
        <h2>Writer</h2>
        {control authorWorks $data->id}
    </section>
{/if}
{if $data->related('music2interpret.person_id')->count() > 0}
    <section>
        <h2>Interpret</h2>
        {control interpretWorks $data->id}
    </section>
{/if}
