{define col-type}
    <td>
        {$presenter->locale['entity'][$row->entity->type]}
    </td>
{/define}

{define col-role}
    <td>
        {$presenter->locale['role'][$row->role]}
    </td>
{/define}

{define col-year}
    <td class="center">
        {$row->entity->year}
    </td>
{/define}

{define col-head-class-year}
    center
{/define}

{define col-original_title}
    <td>
        <a href="{plink Entity:view $row->entity_id}">{$row->entity->original_title}</a>
    </td>
{/define}

{define col-rating}
    <td class="center">
        {$row->entity->rating}
    </td>
{/define}

{define col-head-class-rating}
    center
{/define}


{define col-my_rating}
    <td class="center">
        {var $rating = $ratingModel->getUserRating($row->entity_id, $user->id)}
        {if $rating}
            {$rating->value}
        {/if}
    </td>
{/define}

{define col-head-class-my_rating}
    center
{/define}

{define col-action}
    <td>
        {var $rating => $ratingModel->getUserRating($row->entity_id, $user->id)}
        {if $rating}
            <a href="{plink Entity:editRating $rating->id}">Edit rating</a>
        {else}
            <a href="{plink Entity:rate $row->entity_id}">Rate</a>
        {/if}
    </td>
{/define}
