{define col-type}
    <td>
        {$presenter->locale['entity'][$row->entity->type]}
    </td>
{/define}

{define col-role}
    <td>
        {$presenter->locale['role'][$row->role]}
    </td>
{/define}

{define col-year}
    <td>
        {$row->entity->year}
    </td>
{/define}

{define col-original_title}
    <td>
        <a href="{plink Entity:view $row->entity_id}">{$row->entity->original_title}</a>
    </td>
{/define}

{define col-rating}
    <td>
    </td>
{/define}

{define col-my_rating}
    <td>

    </td>
{/define}

{define col-action}
    <td>

    </td>
{/define}
