{define col-rating}
<td>
    {$ratingModel->getRating($row->id)|number: 2}
</td>
{/define}

{define col-original_title}
<td>
    <a href="{plink "{$eType}:view" $row->id}">{$row->original_title}</a>
</td>
{/define}

{define col-my_rating}
<td>
    {var $rating => $ratingModel->getUserRating($row->id, $userId)}
    {if $rating}
        {$rating->rating}
    {/if}
</td>
{/define}

{define col-action}
    <td>
        {var $rating => $ratingModel->getUserRating($row->id, $userId)}
        {if $rating}
            <a href="{plink "{$eType}:editRating" $rating->id}">Edit rating</a>
        {else}
            <a href="{plink "{$eType}:rate" $row->id}">Rate</a>
        {/if}
    </td>
{/define}