<!DOCTYPE html>
<html lang="{$presenter->lang}">
    <head>
        <title>{include title} | ratings.peldax.com</title>
        <meta charset="UTF-8" />
        <meta name="author" content="Václav Pelíšek" />
        <meta name="description" content="Website used for storing ratings and recommendations of movies, books, TV series, games and more." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="keywords" content="václav, pelíšek, pelda, peldax, ratings, movies, books, series, games" />
        <link rel="icon" type="image/png" href="favicon.png" sizes="48x48" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,700" />
        <link rel="stylesheet" type="text/css" href="/bower/flag-icon-css/css/flag-icon.min.css" />
        <link rel="stylesheet" type="text/css" href="/bower/selectize/dist/css/selectize.default.css" />
        <link rel="stylesheet" type="text/css" href="/bower/iCheck/skins/square/red.css" />
        <link rel="stylesheet" type="text/css" href="/scss/dist/common.css" />
        <script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower/selectize/dist/js/standalone/selectize.min.js"></script>
        <script type="text/javascript" src="/bower/iCheck/icheck.min.js"></script>
        <script type="text/javascript" src="/bower/nette-forms/src/assets/netteForms.min.js"></script>
        <script type="text/javascript" src="/bower/nette.ajax.js/nette.ajax.js"></script>
        <script type="text/javascript" src="/bower/nextras.datagrid/index.js"></script>
        <script type="text/javascript" src="/bower/chart.js/dist/Chart.min.js"></script>
        <script type="text/javascript" src="/js/dist/selectize-plugins.min.js"></script>
        <script type="text/javascript" src="/js/dist/common.min.js"></script>
        {include head}
    </head>
    <body>
        <nav>
            <div>
                {if $user->isLoggedIn()}
                    <ul>
                        <li>
                            <a href="{plink Default:default}">{$presenter->locale['dashboard']}</a>
                        </li>
                        <li class="dropdown">
                            <a>{$presenter->locale['categories']}</a>
                            <ul class="dropdown-list">
                                {foreach \App\Enum\Category::ITEMS as $type}
                                    <li>
                                        <a href="{plink Entity:default type => $type}">{$presenter->locale['entity_pl'][$type]}</a>
                                    </li>
                                {/foreach}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>{$presenter->locale['people']}</a>
                            <ul class="dropdown-list">
                                <li>
                                    <a href="{plink Artist:default}">{$presenter->locale['artist_pl']}</a>
                                </li>
                                <li>
                                    <a href="{plink User:default}">{$presenter->locale['user_pl']}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>{$presenter->locale['other']}</a>
                            <ul class="dropdown-list">
                                <li>
                                    <a href="{plink Statistics:default}">{$presenter->locale['stats']}</a>
                                </li>
                                <li>
                                    <a href="{plink Credits:default}">{$presenter->locale['credits']}</a>
                                </li>
                            </ul>
                        </li>
                        {control search}
                    </ul>
                {/if}
                <ul class="right">
                    {if $user->isLoggedIn()}
                        <li class="dropdown">
                            <a>{$user->identity->username}</a>
                            <ul class="dropdown-list">
                                <li>
                                    <a href="{plink User:view $user->id}">{$presenter->locale['profile']}</a>
                                </li>
                                <li>
                                    <a href="{plink Default:settings}">{$presenter->locale['settings']}</a>
                                </li>
                                <li>
                                    <a href="{plink Default:changePassword}">{$presenter->locale['chng_pswrd']}</a>
                                </li>
                                <li>
                                    <a href="{plink Default:logout}">{$presenter->locale['logout']}</a>
                                </li>
                            </ul>
                        </li>
                        {*if !in_array('User', $user->getRoles())}
                            <li>
                                <a href="{plink Admin:Default:default}">Administration</a>
                            </li>
                        {/if*}
                    {/if}
                    {control locale}
                </ul>
            </div>
        </nav>
        <main>
            <div id="flasharea">
                {snippet flash}
                    {foreach $flashes as $flash}
                        <div class="flash {$flash->type}">{$flash->message}</div>
                    {/foreach}
                {/snippet}
            </div>
            <header>
                <h1>{include title}</h1>
            </header>
            {include content}
        </main>
        <footer>
            <p><a href="http://www.peldax.com">www.peldax.com</a></p>
            <p>Václav Pelíšek, 2016</p>
        </footer>
    </body>
</html>
