.inline-buttons
{
  text-decoration: none;
  padding: 0;

  li
  {
    display: inline-block;
    background: $black;
    text-align: center;

    a
    {
      display: block;
      color: $white;
      font-weight: 300;
      padding: 10px;
    }

    &.active
    {
      outline: 2px solid $red;
    }

    &.disabled
    {
      background: $grey;
    }

    &:hover > a
    {
      color: $grey;
      cursor: pointer;
      text-decoration: none;
    }

    &.disabled:hover > a
    {
      color: $white;
      cursor: not-allowed;
    }
  }
}

input[type=button], input[type=submit]
{
  border: 0;
  background: $black;
  text-align: center;
  color: $white;
  font-weight: 300;
  padding: 10px;
}

input[type=button]:hover, input[type=submit]:hover
{
  color: $grey;
  cursor: pointer;
  text-decoration: none;
}
