.dropdown
{
  position:relative;

  .dropdown-list
  {
    padding: 0;
    margin: 0;
    border: 1px solid $red;
    border-top: 0;
    background-color: $white;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1101;
    height: auto;

    li
    {
      display: flex;

      a
      {
        color: $red;

        &:hover
        {
          color: $red;
        }
      }

      &:hover
      {
        background-color: $lightRed;
      }
    }
  }

  &:hover > .dropdown-list
  {
    display: block;
  }
}
