.table
{
  width: 100%;
  border-collapse: collapse;

  td, th
  {
    padding: 10px 5px;
    text-align: left;
  }
}

.grid
{
  @extend .table;

  tbody
  {
    tr:hover
    {
      background-color: $grey;
    }
  }
}

.list
{
  @extend .table;
}

#director-list
{
  padding: 0;
  margin: 0;
  list-style: none;
}