{block title}{$presenter->locale['dashboard']}{/block}{block content}<section>    <h2>{$presenter->locale['news']}</h2>    {control newsBanner}</section><section>    <h2>{$presenter->locale['intro']}</h2>    {control introductionBanner}</section><section>    <h2>{$presenter->locale['stats']}</h2>    <h3>{$presenter->locale['stat_head_1']}</h3>    {control statElementCount}    <h3>{$presenter->locale['stat_head_2']}</h3>    {control statUserActivity}</section>